BOJ/.vscode
BOJ/Data_structure1/.vscode

# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/
BOJ/.vscode
*.json
codeTree/.DS_Store
codeTree/.clang-format
.DS_Store
*.txt
testOfCoding/*
BOJ/js/답확인시참고.md
BOJ/js/test.js
